{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio | Maxim Cypher{% endblock %}

{% block nav_image %}
<!-- Intentionally left empty to hide the nav image -->
{% endblock %}

{% block content %}
    <h1 class="portfolio-header">Our Creators Portfolio</h1>
    <p class="download portfolio-header">
        All images below are free to download and use. Simply click any image to start your download.
      </p>

      <section class="masonry-gallery"> 
        <div class="portfolio-item">
          <img src="{% static 'images/horse.webp' %}" alt="Man on a horse illustration">
          <a href="{% static 'images/horse.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/brown.webp' %}" alt="Brown guitar abstract artwork">
          <a href="{% static 'images/brown.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/joker.webp' %}" alt="Joker themed digital artwork">
          <a href="{% static 'images/joker.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/woman.jpg' %}" alt="Portrait of a woman">
          <a href="{% static 'images/woman.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/splash.jpg' %}" alt="Water and waint splash artwork">
          <a href="{% static 'images/splash.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/sea.webp' %}" alt="Ocean waves scene">
          <a href="{% static 'images/sea.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/aston.webp' %}" alt="Aston Martin sports car render">
          <a href="{% static 'images/aston.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/ballerina.webp' %}" alt="Ballerina dancing silhouette">
          <a href="{% static 'images/ballerina.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/ballon.webp' %}" alt="Colorful hot air balloon floating">
          <a href="{% static 'images/ballon.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/black.webp' %}" alt="Black electric guitar">
          <a href="{% static 'images/black.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/black-red.webp' %}" alt="Black and red electric guitar">
          <a href="{% static 'images/black-red.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/boat.png' %}" alt="Brown boat by the side of a orange river">
          <a href="{% static 'images/boat.png' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/wire.webp' %}" alt="Hand holding a floating wire abstract">
          <a href="{% static 'images/wire.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/business.jpg' %}" alt="Business professional in a suit">
          <a href="{% static 'images/business.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/cactus.webp' %}" alt="Man carrying a cactus plant in a backpack ">
          <a href="{% static 'images/cactus.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/chess.webp' %}" alt="Whiskey and chess pieces flying out of a glass">
          <a href="{% static 'images/chess.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/chinease.jpg' %}" alt="Chinese woman in cultural outifit">
          <a href="{% static 'images/chinease.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/christmas.webp' %}" alt="Christmas horse baubles">
          <a href="{% static 'images/christmas.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/city.webp' %}" alt="City skyline with dark clouds and some light">
          <a href="{% static 'images/city.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/coat.webp' %}" alt="Man wearing fur coat looking at a helicopter in snow">
          <a href="{% static 'images/coat.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/colours.webp' %}" alt="Colorful abstract digital artwork">
          <a href="{% static 'images/colours.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/cool.jpg' %}" alt="Futuristic house on the moon artwork">
          <a href="{% static 'images/cool.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/dog.webp' %}" alt="Dog with pink scarf">
          <a href="{% static 'images/dog.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/earrings.webp' %}" alt=" Woman wearing earring close-up">
          <a href="{% static 'images/earrings.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/eye.webp' %}" alt="Close-up horse eye artwork">
          <a href="{% static 'images/eye.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/flowers.webp' %}" alt="Man with flowers in his hair">
          <a href="{% static 'images/flowers.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/fly.png' %}" alt="Flying insect artwork">
          <a href="{% static 'images/fly.png' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/forest.jpg' %}" alt="Dense forest scenery">
          <a href="{% static 'images/forest.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/garden.webp' %}" alt=" Man surrounded by flowers">
          <a href="{% static 'images/garden.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/globe.webp' %}" alt="Globe with clouds">
          <a href="{% static 'images/globe.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/guitar.webp' %}" alt="Electric guitar artwork">
          <a href="{% static 'images/guitar.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/guitars.webp' %}" alt="Guitars side by side">
          <a href="{% static 'images/guitars.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/gum.webp' %}" alt="Woman blowing a chewing gum bubble">
          <a href="{% static 'images/gum.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/jungle.jpg' %}" alt="Jungle landscape">
          <a href="{% static 'images/jungle.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/lizard.png' %}" alt="Lizard close-up artwork">
          <a href="{% static 'images/lizard.png' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/moon-walk.jpg' %}" alt="Astronaut walking on the moon">
          <a href="{% static 'images/moon-walk.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/mountain.webp' %}" alt="Mountain with a moon ">
          <a href="{% static 'images/mountain.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/old.webp' %}" alt="Old person's arm">
          <a href="{% static 'images/old.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/plane.jpg' %}" alt="Airplane flying in the jungle">
          <a href="{% static 'images/plane.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/play.webp' %}" alt="Play button style artwork">
          <a href="{% static 'images/play.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/pool.png' %}" alt="Swimming pool illustration">
          <a href="{% static 'images/pool.png' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/rain.png' %}" alt="Rainy scene illustration">
          <a href="{% static 'images/rain.png' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/rose.webp' %}" alt="Red rose close-up">
          <a href="{% static 'images/rose.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/smile.webp' %}" alt="Smiling face artwork">
          <a href="{% static 'images/smile.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/smoke.webp' %}" alt="Smoke cloud digital artwork">
          <a href="{% static 'images/smoke.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/snow.webp' %}" alt="Man standing in snow scene ">
          <a href="{% static 'images/snow.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/soldier.jpg' %}" alt="Soldier on helicopter rope portrait artwork">
          <a href="{% static 'images/soldier.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/thai.jpg' %}" alt="Thai jungle artwork">
          <a href="{% static 'images/thai.jpg' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/truck.webp' %}" alt="Truck illustration">
          <a href="{% static 'images/truck.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/walk.webp' %}" alt="Person walking illustration">
          <a href="{% static 'images/walk.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    
        <div class="portfolio-item">
          <img src="{% static 'images/worms.webp' %}" alt="Worms and cucumber abstract artwork">
          <a href="{% static 'images/worms.webp' %}" download class="download-icon" title="Download image">
            <i class="fas fa-download"></i>
          </a>
        </div>
    </section>
    

{% endblock %}