{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Maxim Cypher{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body> 

    <header>
        <nav>
            <div class="logo">Maxim Cypher</div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <a href="{% url 'account_login' %}">Login</a>
            </ul>
            <a href="#" class="btn">Get Started</a>
        </nav>
    </header>

    <!-- Page content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Select a plan</a></li>
        </ul>
        <p>&copy; {{ year }} Maxim Cypher</p>
    </footer>



</body> 
</html>