{% extends "base.html" %}
{% load static %}
{% block title %}Home | Maxim Cypher{% endblock %}

{% block content %}

<h1 class="main-header">AI-Driven Visuals. Made to Move People. </h1> 

<p>Discover exclusive, hand-curated AI-generated images and videos crafted by a creative technologist. <br> 

Commission bespoke visuals or browse premium content  <br> 

Ready to elevate your brand, story, or product. </p> <br> 


<!-- Featured Work -->
<section class="featured">
    <h3>Featured work</h3>
  <div class="container my-4 text-center">
    <div class="row">
      <figure class="col-md-4">
        <img
          src="{% static 'images/maxim.png' %}"
          class="img-fluid rounded mb-2"
          alt="icon of a car"
        >
        <figcaption><p class="services">“Fantastic work, really pleased with my 
            personalised fashion brand visuals”</p></figcaption>
      </figure>
      <figure class="col-md-4">
        <img
          src="{% static 'images/maxim.png' %}"
          class="img-fluid rounded mb-2"
          alt="icon of a seat">
          <figcaption><p class="services">“Fantastic work, really pleased with my 
            personalised fashion brand visuals”</p></figcaption>
      </figure>
      <figure class="col-md-4">
        <img
          src="{% static 'images/maxim.png' %}"
          class="img-fluid rounded mb-2"
          alt="icon of an engine"
        >
        <figcaption><p class="services">“Fantastic work, really pleased with my 
            personalised fashion brand visuals”</p></figcaption>
      </figure>
    </div>
  </div>
</section>

<div class="container">
  <div class="photo-gallery">
    <img src="{% static 'images/girls.webp' %}" alt="..." />
    <img src="{% static 'images/runner3.webp' %}" alt="..." />
    <img src="{% static 'images/man.webp' %}" alt="..." />
    <img src="{% static 'images/runner1.webp' %}" alt="..." />
    <img src="{% static 'images/runner2.webp' %}" alt="..." />
    <img src="{% static 'images/runner4.webp' %}" alt="..." />
    <!-- More images as needed -->
  </div>
</div>

<!-- Pricing -->
<section class="pricing">
    <h3 class="plansheader">Select a plan</h3>
    <div class="plans">
        <div class="plan">
            <h4>Free</h4>
            <p>£0/month</p>
            <button>Get Started</button>
        </div>
        <div class="plan">
            <h4>Creator Access</h4>
            <p>£20/month</p>
            <button>Subscribe</button>
        </div>
        <div class="plan">
            <h4>Pro Access</h4>
            <p>£39/month</p>
            <button>Subscribe</button>
        </div>
    </div>
</section>

<!-- Categories -->
<section class="categories">
    <h3>Browse by category</h3>
    <div class="grid">
        <img src="{% static 'images/rare.jpg' %}" alt="Social Media">
        <img src="{% static 'images/rare.jpg' %}" alt="Album Art">
        <img src="{% static 'images/rare.jpg' %}" alt="Ad Creative">
        <img src="{% static 'images/rare.jpg' %}" alt="Background">
    </div>
</section>

<!-- Creator Application -->
<section class="apply">
    <h3>Apply to be a creator</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email Address">
        <input type="text" name="speciality" placeholder="Speciality">
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Join</button>
    </form>
</section>

{% endblock %}