{% extends "base.html" %}
{% load static %}
{% block title %}Home | Maxim Cypher{% endblock %}

{% block content %}


<section class ="main-content"> 

<h1 class="main-header"> <span> AI-Driven Visuals.</span> <br> Made to Move People. </h1> 

<p>Discover exclusive, hand-curated AI-generated images and videos crafted by a creative technologist. <br> 

Commission bespoke visuals or browse premium content  <br> 

Ready to elevate your brand, story, or product. </p> <br> 

</section> 

<!-- Featured Work -->
<section class="featured">
    <h3>Featured work</h3>
  <div class="container my-4 text-center">
    <div class="row">
      <figure class="col-md-4">
        <img
          src="{% static 'images/white.webp' %}"
          class="img-fluid rounded mb-2"
          alt="icon of a car"
        >
        <figcaption><p class="services">“Fantastic work, really pleased with my 
            personalised fashion brand visuals”</p></figcaption>
      </figure>
      <figure class="col-md-4">
        <img
          src="{% static 'images/glass.webp' %}"
          class="img-fluid rounded mb-2"
          alt="icon of a seat">
          <figcaption><p class="services">“Fantastic work, really pleased with my 
            personalised fashion brand visuals”</p></figcaption>
      </figure>
      <figure class="col-md-4">
        <img
          src="{% static 'images/moon.webp' %}"
          class="img-fluid rounded mb-2"
          alt="icon of an engine"
        >
        <figcaption><p class="services">“Fantastic work, really pleased with my 
            personalised fashion brand visuals”</p></figcaption>
      </figure>
    </div>
  </div>
</section>


<div class="container">
  <h3>Our creators work</h3>
  <div class="photo-gallery">
    <img src="{% static 'images/album.webp' %}" alt="..." />
    <img src="{% static 'images/butterflies.webp' %}" alt="..." />
    <img src="{% static 'images/news.webp' %}" alt="..." />
    <img src="{% static 'images/sea.webp' %}" alt="..." />
    <img src="{% static 'images/tiger.webp' %}" alt="..." />
    <img src="{% static 'images/clouds.webp' %}" alt="..." />
    <!-- More images as needed -->
  </div>
</div>

<!-- Pricing -->
<section class="pricing">
  <h3>Produce product visuals, fast.</h3>
  <p>
    All you need is a few snapshots of your product. With Maxim Cypher’s Custom AI models,
    you can produce beautiful visuals of your own products—no PhD required.
  </p>
  <br>
  <h3>Select a Plan</h3>

  <!-- Free Plan -->
  <div class="plan">
    <h4>Free</h4>
    <p>£0/month</p>
    <ul>
      <li>Free downloadable limited content</li>
    </ul>
    <a href="{% url 'portfolio' %}">
      <button>Get Started</button>
    </a>
  </div>

  <!-- Creator Access -->
  <div class="plan">
    <h4>Creator Access</h4>
    <p>£20/month</p>
    <ul>
      <li>3 custom image requests per month</li>
      <li>Access to pre-made premium visuals</li>
    </ul>
    <a href="{% url 'checkout:creator_checkout' %}">
      <button>Subscribe</button>
    </a>
  </div>

  <!-- Pro Access -->
  <div class="plan">
    <h4>Pro Access</h4>
    <p>£39/month</p>
    <ul>
      <li>5 custom image requests per month</li>
      <li>Priority turnaround time</li>
      <li>Access to pre-made premium visuals</li>
    </ul>
    <a href="{% url 'checkout:pro_checkout' %}">
      <button>Subscribe</button>
    </a>    
  </div>
</section>


    </div>
</section>

<!-- Categories -->
<section class="categories">
    <h3>Browse by category</h3>
    <div class="grid">
        <img src="{% static 'images/orange.png' %}" alt="orange">
        <img src="{% static 'images/rollz.webp' %}" alt="Album Art">
        <img src="{% static 'images/newyork.webp' %}" alt="Ad Creative">
        <img src="{% static 'images/ink.webp' %}" alt="Background">
    </div>
</section>

<h3 class="creators"> Prompt Engineers, take your creative workflow to the next level  join Maxim Cypher for free today.</h3> 
<p class="creators"> Join Maxim Cypher for free today.</p> 
<!-- Creator Application -->
<section class="apply">
    <h3>Apply to be a creator.</h3>

    {% if messages %}
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email Address">
        <input type="text" name="speciality" placeholder="Speciality">
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Join</button>
    </form>
</section>

{% endblock %}